
* {
  margin: 0 auto; 
  width: 100%; 
  background-color: gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h2 {
  color: blue; 
}

h1 {
  color: aqua; 
  max-width: fit-content;
}

p {
  color: black; 
  font-size: 18px;
}

div {
  max-width: 75%; 
}

label {
  max-width: fit-content; 
}

form :hover {

background-color: rgb(226, 230, 0);
}

form :active {
  background-color: yellow;
}

form button {
  background: rgb(5, 213, 228);
}